<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Votre Virtualhost</title>
</head>

<body>

<a href="/micro-virtualhosts/My">
<div class="ui animated button" tabindex="0">
  <div class="visible content">Retour &agrave; mes services</div>
  <div class="hidden content">
    <i class="left arrow icon"></i>
  </div>
</div>
</a>


<a href=Display/host/{{ id_host }}>
<div class="ui animated button" tabindex="0">
  <div class="visible content">Retour &agrave; {{ id_serveur_vhost }}</div>
  <div class="hidden content">
    <i class="right arrow icon"></i>
  </div>
</div>
</a>


<h1 class="ui header">
  <img class="ui massive rounded image" src="/micro-virtualhosts/public/img/virtualhost.png">
  <div class="content">
    Vhost ID [{{ id_vhost }}]
    <div class="sub header">Informations sur l'h&ocircte virtuel</div>
  </div>
</h1>




<table class="ui celled padded table">
  <thead>
  <tr>
    <th>Serveur</th>
    <th>Addresse</th>
    <th>Config</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="single line">
        {{ id_serveur_vhost }}
      </td>
      <td class="single line">
       {{ nom_vhost }}
      </td>
      <td>
      <pre class='language-markup'><code>{{ config_vhost }}</code></pre>
      </td>
    </tr>
  </tbody>
</table>











<table class="ui celled striped table">
  <thead>
    <tr>
    <th colspan="3">
      Propri&eacute;t&eacute;s de l'h&ocircte virtuel
    </th>
  </tr>
  </thead>
  
  <tbody>



{%if vhP_value == "N/A" %}
	<tr>
      <td class="collapsing">
        Doma&icircne
      </td>
      <td>{{ vhP_value }}</td>
    </tr>
    
    <tr>
      <td>
        Etat
      </td>
      <td>
	    <i class="radio icon"></i> Inactif     
      </td>
    </tr>
    
  
  </tbody>
  
{% else %}
  
  
  {% for key,value in vHost_prop %}
    
    <tr>
      <td>
        {{ key }}
      </td>
      <td>
	    {{ value }}     
      </td>
    </tr>
    {% endfor %}
    
{% endif %}
  
</table>


</body>
</html>