</div></div>
	<footer>
		<div class="ui container">Mentions légales :
			<ul>
				<li><a href="https://phalconphp.com/fr/">© 2016 phalcon 3.0</a></li>
				<li><a href="http://phpmv-ui.kobject.net/">© 2017 phpMv-UI 2.2</a></li>
			</ul>
		</div>
	</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
</body>
</html>