<!DOCTYPE html>
<html>
<head>
<base href="{{config["siteUrl"]}}">
<meta charset="UTF-8">
<title>micro-virtualhosts</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism-okaidia.min.css">
<link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<body>
	<header class="navbar navbar-static-top bs-docs-nav" id="top"
		role="banner">
		<div class="ui container">
			<div class="ui menu secondary">
				<div class="header item">
					<i class="snapchat ghost big link icon"></i>
					Virtualhosts
				</div>
				<a class="item">Features</a> 
				<a class="item">Testimonials</a>
				<div class="right menu">
					<div id="divInfoUser" class="item">Login</div>
				</div>
			</div>
		</div>
	</header>
	<div class="pagehead">
		<div id="secondary-container" class="ui container">
			<div id="secondary" class="ui menu secondary  pointing inverted">
				<a class="item active" href="{{config["siteUrl"]}}">Accueil</a>
			</div>
		</div>
	</div>
	<div id="main-container" class="ui container">
		<div id="content-container" class="ui segment">